/* *************************************/
/*    GENERAL reusable COMPONENTS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* allow user to change the font size */
    font-size: 62.5%;
    /* scroll-behavior: smooth; */
}
.lien{
    text-decoration: none;
    color:black;
    font-weight: bold;
}
.lien:hover{
    color: blueviolet;
    font-style: italic;
}
.sans_puce{
    list-style: none;
}
